# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/

# OS
Thumbs.db
desktop.ini
.DS_Store


Claude.md
.claude

warp-manager-plan.md

dist/